/* ----------------------------------------------------------Home page---------------------------------------------------------- */

.home
{
    color: white;
    background-color: #002349;
    overflow-x: hidden;
    -webkit-filter: drop-shadow(0rem 0.5rem 0.5rem black);
            filter: drop-shadow(0rem 0.5rem 0.5rem black);
}
.home-box
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 1rem;
}
.home .details
{
    position: relative;
    padding-top: 16rem;
    padding-bottom: 3rem;
}
.details h1,.details h3
{
    font-weight: bold;
}
.details h3 span
{
    font-size: 1.7rem;
    font-weight: bold;
    color: #00ABE4;
}
.home .details ol
{
    list-style-type: none;
    display: inline;
}
.home .details li
{
    float: left;
    margin-right: 1.5rem;
    text-align: center;
}
.home ol i
{
    padding: 0.7rem;
    font-size: 1.7rem;
    width: 3.3rem;
    border: none;
    border-radius: 50%;
    color: #00ABE4;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.home ol i:hover
{
    cursor: pointer;
    color: white;
    -webkit-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
}
.home .resume button
{
    font-weight: 800;
    text-align: center;
    width: 12rem;
    height: 3rem;
    border-radius: 10rem;
    color: black;
    background-color: #00ABE4;
    letter-spacing: 0.05rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.home .resume button:hover
{
    -webkit-box-shadow: 0 0 0.5rem #00ABE4;
            box-shadow: 0 0 0.5rem #00ABE4;
}
.home img
{
    width: 100%;
    -webkit-filter: drop-shadow(0.5rem 0.1rem 0.7rem black);
            filter: drop-shadow(0.5rem 0.1rem 0.7rem black);
}


/* ----------------------------------------------------------About page---------------------------------------------------------- */

.about
{
    background-color: #fbfbf1;
    color: black;
    overflow-x: hidden;
}
.about-box
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 5rem;
}
.about .title
{
    text-align: center;
}
.about .title .title-fade h1
{
    font-weight: 1000;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(245, 241, 241)), to(rgb(74, 72, 72)));
    background: -o-linear-gradient(bottom, rgb(245, 241, 241), rgb(74, 72, 72));
    background: linear-gradient(to top, rgb(245, 241, 241), rgb(74, 72, 72));
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    opacity: 0.2;
}
.about .title .title1 h1
{
    position: relative;
    font-family: 'Montserrat';
    top: -2.5rem;
    font-weight: 900;
}
.about .content
{
    padding: 5.5rem 1rem;
}
.about .intro
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    border-radius: 2rem;
    -webkit-box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
            box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
    text-align: center;
    padding: 5rem 3rem;
    font-weight: 600;
    background-color: #cbe6ef;
}
.about .intro h3
{
    font-weight: bold;
}
.about .intro .location
{
    opacity: 0.7;
}
.about .artwork
{
    text-align: center;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 8rem 1rem;
    text-align: center;
    font-weight: 600;
}
.about .artwork div
{
    padding-top: 1rem;
}
.about .artwork button
{
    color: white;
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    border-radius: 10rem;
    background-color: #002349;
    letter-spacing: 0.05rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.about .artwork button:hover
{
    -webkit-box-shadow: 0 0 0.5rem black;
            box-shadow: 0 0 0.5rem black;
    -webkit-transform: translate(0.3rem, 0.3rem);
        -ms-transform: translate(0.3rem, 0.3rem);
            transform: translate(0.3rem, 0.3rem);
}


/* ----------------------------------------------------------Skills page---------------------------------------------------------- */

.skills
{
    color: black;
    background-color: #fbfbf1;
    overflow-x: hidden;
}
.skill-box
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 5rem;
}
.skills .title
{
    text-align: center;
}
.skills .title .title-fade h1
{
    font-weight: 1000;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(245, 241, 241)), to(rgb(74, 72, 72)));
    background: -o-linear-gradient(bottom, rgb(245, 241, 241), rgb(74, 72, 72));
    background: linear-gradient(to top, rgb(245, 241, 241), rgb(74, 72, 72));
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    opacity: 0.2;
}
.skills .title .title1 h1
{
    position: relative;
    font-family: 'Montserrat';
    top: -2.5rem;
    font-weight: 900;
}
.logo
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    text-align: center;
    padding: 2rem 2rem;
}
.logo img
{
    padding-top: 3rem;
    width: 5rem;
    opacity: 0.7;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.logo #img-cont
{
    min-height: 8rem;
    max-height: 8rem;
}
.logo img:hover
{
    -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 1;
}
.logo img:hover ~#tech
{
    display: block;
}
.logo .col #tech
{
    position: relative;
    font-weight: 900;
    display: none;
}
.skills .education
{
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.skills .education h3
{
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
}
.skills .education .row
{
    padding-top: 1rem;
}
.skills .education .row .col-lg
{
    padding-top: 2rem;
}
.skills .education .row .col-lg .box
{
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    height: 12rem;
    border-radius: 2rem;
    background-color: 	#cbe6ef;
    -webkit-box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
            box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
    font-weight: bolder;
}
.skills .education .box h6
{
    font-weight: 800;
}
.skills .education .box small
{
    opacity: 0.7;
}
.skills .education .box .col
{
    text-align: right;
}
.skills .education .box .row small
{
    font-weight: bolder;
    opacity: 1;
}



/* ----------------------------------------------------------Projects page---------------------------------------------------------- */

.projects
{
    color: black;
    background-color: #fbfbf1;
    overflow-x: hidden;
}
.project-box
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.projects .title
{
    text-align: center;
}
.projects .title .title-fade h1
{
    font-weight: 1000;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(245, 241, 241)), to(rgb(74, 72, 72)));
    background: -o-linear-gradient(bottom, rgb(245, 241, 241), rgb(74, 72, 72));
    background: linear-gradient(to top, rgb(245, 241, 241), rgb(74, 72, 72));
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    opacity: 0.2;
}
.projects .title .title1 h1
{
    position: relative;
    font-family: 'Montserrat';
    top: -2.5rem;
    font-weight: 900;
}
.projects .content
{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.projects .content .col-lg
{
    padding-bottom: 2rem;
}
.projects .content .box
{
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: 	#cbe6ef;
    border-radius: 2rem;
    -webkit-box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
            box-shadow: 0rem 0.2rem 1rem rgb(123, 119, 119);
}
.projects .content .box img
{
    padding: 1rem;
    height: 15rem;
}
.projects .content .box small
{
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.1rem;
    background-color: #4CBB17;
    padding: 0.2rem;
    min-width: 4rem;
    display: inline-block;
}
.projects .content .box .head
{
    padding-top: 2rem;
}
.projects .content .box .head h5
{
    font-weight: 800;
}
.projects .content .box .info
{
    padding: 2rem 3rem;
    text-align: justify;
}
.projects .content .box .info button
{
    border: none;
    background: transparent;
    padding: 0;
    color: blue;
    font-weight: 700;
}
.projects .content .box #more1, .projects .content .box #more2, .projects .content .box #more3
{
    display: none;
}
.projects .content .box .links
{
    padding-bottom: 2rem;
}
.projects .content .box .links button
{
    color: white;
    font-weight: bold;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10rem;
    background-color: #002349;
    letter-spacing: 0.05rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.projects .content .box .links button:hover
{
    -webkit-box-shadow: 0 0 0.5rem black;
            box-shadow: 0 0 0.5rem black;
    -webkit-transform: translate(0.3rem, 0.3rem);
        -ms-transform: translate(0.3rem, 0.3rem);
            transform: translate(0.3rem, 0.3rem); 
}


/* ----------------------------------------------------------Contact page---------------------------------------------------------- */

.contact
{
    color: white;
    background-color: #002349;
    overflow-x: hidden;
    -webkit-filter: drop-shadow(0rem -0.5rem 0.5rem black);
            filter: drop-shadow(0rem -0.5rem 0.5rem black); 
}
.contact-box
{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
}
.contact .title
{
    text-align: center;
}
.contact .title .title2 h1
{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 800;
}
.contact .call
{
    padding: 10rem 0rem;
    text-align: center;
}
.contact .call .card
{
    position: relative;
    margin: 0 auto;
    text-align: center;
    border: none;
    background-color: #002349;
    width: 80%;
    padding: 3rem 1rem;
}
.contact .call .card div
{
    position: relative;
    margin: 0 auto;
    padding: 1rem 0rem;
}
.contact .call .card .mail a
{
    text-decoration: none;
    color: white;
}
.contact .call .card .mail a:hover
{
    color: #00ABE4;
}
.contact .call .card .social a
{
    text-decoration: none;
    color: #00ABE4;
}
.contact .call .card .social a:hover
{
    color: white;
}
.contact .call .card ol
{
    list-style-type: none;
    text-align: center;
}
.contact .call .card ol li
{
    position: relative;
    margin: 0 auto;
    float: left;
    padding-right: 2rem;
    text-align: center;
}
.contact .call .card ol i
{
    font-size: 1.7rem;
}
.contact .box
{
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact .box form
{
    color: black;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 80%;
}
.contact .box .contactform > label
{
    opacity: 0.7;
    font-weight: 700;
}
.contact .box .contactform > label::after
{
    background-color: transparent;
}
.contact .box .contactform input, .contact .box .contactform textarea
{
    border: none;
    color: black;
    background-color: #B2B5E0;
    font-weight: 600;
}
.contact .box #message
{
    height: 15rem;
    resize: none;
}
.contact .box button
{
    color: black;
    font-weight: 800;
    width: 12rem;
    height: 3rem;
    border-radius: 10rem;
    background-color: #00ABE4;
    letter-spacing: 0.05rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.contact .box button:hover
{
    -webkit-box-shadow: 0 0 0.5rem #00ABE4;
            box-shadow: 0 0 0.5rem #00ABE4;
    -webkit-transform: translate(0.3rem, 0.3rem);
        -ms-transform: translate(0.3rem, 0.3rem);
            transform: translate(0.3rem, 0.3rem);
}
.contact .up
{
    position: relative;
    right: 1rem;
    text-align: right;
    padding-bottom: 1rem;
}
.contact .up button
{
    color: #00ABE4;
    border: none;
    background: transparent;
    -webkit-animation: bounce 1s linear 0s infinite normal both;
            animation: bounce 1s linear 0s infinite normal both;
}
.contact .up i
{
    font-size: 2.5rem;
}
.contact .up i:hover
{
    color: white;
}